<IfModule mod_rewrite.c>
Header set Access-Control-Allow-Origin "*"
RewriteEngine on
ErrorDocument 404 /farmers-market/404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /farmers-market/404.php [END]
</IfModule>